In [7]:
from sqlalchemy import create_engine

#my_db = create_engine(mysql_db_url)
my_db = create_engine('sqlite:///frank_foo.db')

table_name = 'Frank_test0914'
sql_cmd_str = "CREATE TABLE IF NOT EXISTS %s(dtime varchar(20) PRIMARY KEY, temp float)" %(table_name)
resultProxy = my_db.execute(sql_cmd_str)
resultProxy.__dict__

{'context': <sqlalchemy.dialects.sqlite.base.SQLiteExecutionContext at 0x21fb89a2850>,
 'dialect': <sqlalchemy.dialects.sqlite.pysqlite.SQLiteDialect_pysqlite at 0x21fb89c73a0>,
 'cursor': None,
 'cursor_strategy': <sqlalchemy.engine.cursor.NoCursorDMLFetchStrategy at 0x21fb89530e0>,
 'connection': <sqlalchemy.engine.base.Connection at 0x21fb89a2fa0>,
 '_echo': False,
 '_metadata': <sqlalchemy.engine.cursor._LegacyNoResultMetaData at 0x21fb8907f10>,
 'rowcount': -1,
 '_soft_closed': True}

In [8]:
#建立資料
import datetime
import random

dt1 = datetime.datetime.strptime('2022-08-01 08:00:00','%Y-%m-%d %H:%M:%S') #把時間字串轉為datetime物件
for i in range(10):
    str_dt = (dt1+datetime.timedelta(days=i)).strftime('%Y-%m-%d %H:%M:%S')
    temp = random.randint(350, 375)/10
    print(str_dt, temp)

2022-08-01 08:00:00 37.0
2022-08-02 08:00:00 37.5
2022-08-03 08:00:00 37.5
2022-08-04 08:00:00 36.9
2022-08-05 08:00:00 36.8
2022-08-06 08:00:00 35.0
2022-08-07 08:00:00 36.0
2022-08-08 08:00:00 37.1
2022-08-09 08:00:00 36.0
2022-08-10 08:00:00 37.0

In [9]:
#插入
import datetime
import random

dt1 = datetime.datetime.strptime('2022-08-01 08:00:00','%Y-%m-%d %H:%M:%S') #把時間字串轉為datetime物件
for i in range(10):
    str_dt = (dt1+datetime.timedelta(days=i)).strftime('%Y-%m-%d %H:%M:%S')
    temp = random.randint(350, 375)/10
    #print(str_dt, temp)
    sql_cmd_str = "insert into %s (dtime, temp) values('%s', '%s')" %(table_name, str_dt, temp)
    resultProxy=my_db.execute(sql_cmd_str)

In [10]:
# 故意插入重複的
dt1 = datetime.datetime.strptime('2022-08-01 08:00:00','%Y-%m-%d %H:%M:%S') #把時間字串轉為datetime物件
for i in range(5):
    str_dt = (dt1+datetime.timedelta(days=i)).strftime('%Y-%m-%d %H:%M:%S')
    temp = random.randint(350, 375)/10
    #print(str_dt, temp)
    sql_cmd_str = "insert into %s (dtime, temp) values('%s', '%s')" %(table_name, str_dt, temp)
    resultProxy=my_db.execute(sql_cmd_str)

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: Frank_test0914.dtime
[SQL: insert into Frank_test0914 (dtime, temp) values('2022-08-01 08:00:00', '36.0')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [11]:
# select
sql_cmd_str = "select * from %s ACS" %(table_name)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('2022-08-01 08:00:00', 35.7), ('2022-08-02 08:00:00', 37.3), ('2022-08-03 08:00:00', 36.1), ('2022-08-04 08:00:00', 36.1), ('2022-08-05 08:00:00', 36.5), ('2022-08-06 08:00:00', 37.5), ('2022-08-07 08:00:00', 35.6), ('2022-08-08 08:00:00', 36.0), ('2022-08-09 08:00:00', 35.1), ('2022-08-10 08:00:00', 36.0)]

In [12]:
# 做upsert操作 修改、取代 與MySQL 有差異
import datetime
import random

dt1 = datetime.datetime.strptime('2022-08-01 08:00:00','%Y-%m-%d %H:%M:%S') #把時間字串轉為datetime物件
for i in range(15):
    str_dt = (dt1+datetime.timedelta(days=i)).strftime('%Y-%m-%d %H:%M:%S')
    temp = random.randint(350, 375)/10
    #print(str_dt, temp)
    sql_cmd_str = "insert or replace into %s (dtime, temp) values('%s', '%s')" %(table_name, str_dt, temp)
    #sql_cmd_str = sql_cmd_str + (" ON DUPLICATE KEY UPDATE temp='%s'" %(temp)) mysql 寫法
    resultProxy=my_db.execute(sql_cmd_str)

In [13]:
# select
sql_cmd_str = "select * from %s" %(table_name)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('2022-08-01 08:00:00', 35.4), ('2022-08-02 08:00:00', 35.4), ('2022-08-03 08:00:00', 36.1), ('2022-08-04 08:00:00', 36.4), ('2022-08-05 08:00:00', 35.7), ('2022-08-06 08:00:00', 35.8), ('2022-08-07 08:00:00', 36.4), ('2022-08-08 08:00:00', 37.0), ('2022-08-09 08:00:00', 35.9), ('2022-08-10 08:00:00', 36.9), ('2022-08-11 08:00:00', 35.1), ('2022-08-12 08:00:00', 36.8), ('2022-08-13 08:00:00', 37.3), ('2022-08-14 08:00:00', 36.9), ('2022-08-15 08:00:00', 37.5)]

In [14]:
# select 有條件
sql_cmd_str = "select * from %s where temp>36" %(table_name)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('2022-08-03 08:00:00', 36.1), ('2022-08-04 08:00:00', 36.4), ('2022-08-07 08:00:00', 36.4), ('2022-08-08 08:00:00', 37.0), ('2022-08-10 08:00:00', 36.9), ('2022-08-12 08:00:00', 36.8), ('2022-08-13 08:00:00', 37.3), ('2022-08-14 08:00:00', 36.9), ('2022-08-15 08:00:00', 37.5)]

In [15]:
#Delete
resultProxy=my_db.execute("delete from %s where dtime<'2022-08-05' " %(table_name) )

In [16]:
# select
sql_cmd_str = "select * from %s" %(table_name)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('2022-08-05 08:00:00', 35.7), ('2022-08-06 08:00:00', 35.8), ('2022-08-07 08:00:00', 36.4), ('2022-08-08 08:00:00', 37.0), ('2022-08-09 08:00:00', 35.9), ('2022-08-10 08:00:00', 36.9), ('2022-08-11 08:00:00', 35.1), ('2022-08-12 08:00:00', 36.8), ('2022-08-13 08:00:00', 37.3), ('2022-08-14 08:00:00', 36.9), ('2022-08-15 08:00:00', 37.5)]

In [4]:
#練習題：把高雄空氣品質資料寫入資料庫中
import csv

with open('2018_kh_data.csv', 'r') as f:
    cr = csv.reader(f)
    data_list = list(cr)
data_list[0:5]

[['Name',
  'Date',
  'TSP',
  'PM10',
  'Chloride',
  'Nitrate',
  'Sulfate',
  'Lead',
  'Dust'],
 ['大社工業區', '2018年1月', '93', '', '', '', '', '0.029', '3.6'],
 ['大寮區公所', '2018年1月', '79', '', '', '', '', '0.042', '1.54'],
 ['大樹監測站', '2018年1月', '61', '', '', '', '', '0.02', '1.18'],
 ['仁武國中', '2018年1月', '79', '', '', '', '', '0.058', '2.68']]

In [1]:
from sqlalchemy import create_engine

my_db = create_engine('sqlite:///frank_foo.db')

In [2]:
# 我們把tsp, pm10, lead都記下來
table_name = 'Frank_khtsp_0903' #local 端資料表
sql_cmd_str = "CREATE TABLE IF NOT EXISTS %s(sid varchar(20), dtime varchar(20), tsp float, pm10 float, lead float,dust float, PRIMARY KEY(sid, dtime))" %(table_name)
resultProxy = my_db.execute(sql_cmd_str)
resultProxy.__dict__

{'context': <sqlalchemy.dialects.sqlite.base.SQLiteExecutionContext at 0x1a025c10f40>,
 'dialect': <sqlalchemy.dialects.sqlite.pysqlite.SQLiteDialect_pysqlite at 0x1a0272249d0>,
 'cursor': None,
 'cursor_strategy': <sqlalchemy.engine.cursor.NoCursorDMLFetchStrategy at 0x1a027214060>,
 'connection': <sqlalchemy.engine.base.Connection at 0x1a02724ec70>,
 '_echo': False,
 '_metadata': <sqlalchemy.engine.cursor._LegacyNoResultMetaData at 0x1a0271d10a0>,
 'rowcount': -1,
 '_soft_closed': True}

In [5]:
import datetime
import random

for item in data_list[1:]:
    sid = item[0]#['Name']
    dtime = item[1]#['Date']
    tsp = item[2]#['TSP']
    pm10 = item[3]#['PM10']
    lead = item[7]#['Lead']
    dust = item[-1] #dust
    sql_cmd_str = "insert or replace into %s (sid, dtime, tsp, pm10, lead, dust) values('%s', '%s', '%s', '%s', '%s','%s')" %(
        table_name, sid, dtime, tsp, pm10, lead, dust)
    #sql_cmd_str = sql_cmd_str + (" ON DUPLICATE KEY UPDATE tsp='%s', pm10='%s', lead='%s'" %(tsp, pm10, lead))
    resultProxy=my_db.execute(sql_cmd_str)
    print(sql_cmd_str)

insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大社工業區', '2018年1月', '93', '', '0.029','3.6')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大寮區公所', '2018年1月', '79', '', '0.042','1.54')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大樹監測站', '2018年1月', '61', '', '0.02','1.18')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('仁武國中', '2018年1月', '79', '', '0.058','2.68')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('半屏山電信局', '2018年1月', '104', '67', '0.014','1.21')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('左營國小', '2018年1月', '98', '64', '0.006','1.13')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('永安工業區', '2018年1月', '83', '', '0.052','2.96')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('西子灣中山大學', '2018年1月', '84', '60', '0.043','1.31')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('岡山醫院', '2018年1月', '102', '', '0.076','3.11')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('林園工業區', '2018年1月', '90', '', '0.042','2.01')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('河濱國小', '2018年1月', '55', '51', '0.026','1.04')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('阿蓮區公所', '2018年1月', '65', '', '0.043','1.3')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('前鎮國小', '2018年1月', '109', '72', '0.029','1.71')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('莊敬國小', '2018年1月', '87', '70', '0.006','1.76')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('愛國國小', '2018年1月', '97', '59', '0.014','2.1')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('楠梓區清潔隊', '2018年1月', '84', '45', '0.021','1.99')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('路竹地政事務所', '2018年1月', '84', '', '0.085','1.8')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('鼓山圖書分館', '2018年1月', '94', '68', '0.014','1.27')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('衛生局中正辦公室', '2018年1月', '55', '45', '0.02','1.93')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('環保局環境檢驗科', '2018年1月', '92', '58', '0.02','1.16')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大社工業區', '2018年2月', '102', '', '0.055','4.61')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大寮區公所', '2018年2月', '91', '', '0.018','2.01')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大樹監測站', '2018年2月', '65', '', '0.015','1.94')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('仁武國中', '2018年2月', '86', '', '0.033','3.6')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('半屏山電信局', '2018年2月', '62', '38', '0.034','1.2')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('左營國小', '2018年2月', '59', '32', '0.017','1.5')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('永安工業區', '2018年2月', '83', '', '0.025','8.28')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('西子灣中山大學', '2018年2月', '48', '28', '0.002','1.17')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('岡山醫院', '2018年2月', '84', '', '0.017','4.4')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('林園工業區', '2018年2月', '94', '', '0.002','4.38')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('河濱國小', '2018年2月', '67', '52', '0.002','1.69')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('阿蓮區公所', '2018年2月', '69', '', '0.024','1.54')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('前鎮國小', '2018年2月', '86', '54', '0.017','2.05')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('莊敬國小', '2018年2月', '53', '42', '0.034','1.68')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('愛國國小', '2018年2月', '70', '46', '0.024','2.05')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('楠梓區清潔隊', '2018年2月', '93', '54', '0.018','2.39')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('路竹地政事務所', '2018年2月', '84', '', '0.031','1.72')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('鼓山圖書分館', '2018年2月', '63', '45', '0.002','1.28')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('衛生局中正辦公室', '2018年2月', '70', '38', '0.002','1.68')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('環保局環境檢驗科', '2018年2月', '76', '46', '0.017','1.46')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大社工業區', '2018年3月', '108', '', '0.062','4.22')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大寮區公所', '2018年3月', '92', '', '0.046','3.76')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大樹監測站', '2018年3月', '79', '', '0.046','1.96')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('仁武國中', '2018年3月', '108', '', '0.052','2.63')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('半屏山電信局', '2018年3月', '69', '46', '0.048','2.38')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('左營國小', '2018年3月', '54', '36', '0.068','1.55')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('永安工業區', '2018年3月', '101', '', '0.081','3.64')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('西子灣中山大學', '2018年3月', '55', '36', '0.061','1.85')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('岡山醫院', '2018年3月', '120', '', '0.05','2.58')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('林園工業區', '2018年3月', '94', '', '0.05','2.98')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('河濱國小', '2018年3月', '56', '42', '0.095','2.62')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('阿蓮區公所', '2018年3月', '80', '', '0.042','2.11')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('前鎮國小', '2018年3月', '98', '48', '0.082','3.72')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('莊敬國小', '2018年3月', '53', '50', '0.064','2.1')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('愛國國小', '2018年3月', '74', '44', '0.067','2.39')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('楠梓區清潔隊', '2018年3月', '106', '54', '0.077','2.07')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('路竹地政事務所', '2018年3月', '103', '', '0.065','1.91')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('鼓山圖書分館', '2018年3月', '58', '40', '0.078','1.49')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('衛生局中正辦公室', '2018年3月', '61', '39', '0.078','2')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('環保局環境檢驗科', '2018年3月', '59', '38', '0.066','2.08')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大社工業區', '2018年4月', '79', '', '0.036','2.79')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大寮區公所', '2018年4月', '75', '', '0.062','2.28')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大樹監測站', '2018年4月', '63', '', '0.056','2.09')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('仁武國中', '2018年4月', '78', '', '0.035','3.15')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('半屏山電信局', '2018年4月', '72', '52', '0.044','2.27')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('左營國小', '2018年4月', '61', '33', '0.028','1.48')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('永安工業區', '2018年4月', '84', '', '0.116','2.25')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('西子灣中山大學', '2018年4月', '51', '30', '0.002','1.91')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('岡山醫院', '2018年4月', '82', '', '0.062','3.41')

insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('林園工業區', '2018年4月', '78', '', '0.033','3.18')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('河濱國小', '2018年4月', '59', '40', '0.054','1.79')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('阿蓮區公所', '2018年4月', '63', '', '0.037','1.38')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('前鎮國小', '2018年4月', '82', '48', '0.067','4.01')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('莊敬國小', '2018年4月', '67', '50', '0.069','2.01')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('愛國國小', '2018年4月', '78', '41', '0.034','2.61')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('楠梓區清潔隊', '2018年4月', '74', '37', '0.037','2.64')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('路竹地政事務所', '2018年4月', '66', '', '0.055','2.34')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('鼓山圖書分館', '2018年4月', '50', '31', '0.023','3.67')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('衛生局中正辦公室', '2018年4月', '60', '31', '0.057','2.35')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('環保局環境檢驗科', '2018年4月', '74', '38', '0.044','2.35')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大社工業區', '2018年5月', '55', '', '0.036','2.96')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大寮區公所', '2018年5月', '43', '', '0.021','2.93')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大樹監測站', '2018年5月', '37', '', '0.05','2.26')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('仁武國中', '2018年5月', '44', '', '0.058','1.83')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('半屏山電信局', '2018年5月', '40', '23', '0.004','2.29')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('左營國小', '2018年5月', '49', '38', '0.047','4.69')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('永安工業區', '2018年5月', '52', '', '0.031','2.74')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('西子灣中山大學', '2018年5月', '22', '12', '0.021','1.3')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('岡山醫院', '2018年5月', '39', '', '0.03','1.75')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('林園工業區', '2018年5月', '36', '', '0.016','2.46')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('河濱國小', '2018年5月', '34', '21', '0.027','1.63')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('阿蓮區公所', '2018年5月', '35', '', '0.014','1.85')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('前鎮國小', '2018年5月', '49', '27', '0.055','4.05')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('莊敬國小', '2018年5月', '35', '25', '0.011','1.91')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('愛國國小', '2018年5月', '35', '19', '0.025','2.65')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('楠梓區清潔隊', '2018年5月', '40', '19', '0.017','1.96')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('路竹地政事務所', '2018年5月', '41', '', '0.049','2.34')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('鼓山圖書分館', '2018年5月', '26', '17', '0.004','1.9')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('衛生局中正辦公室', '2018年5月', '34', '18', '0.011','2.32')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('環保局環境檢驗科', '2018年5月', '44', '23', '0.029','1.81')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大社工業區', '2018年6月', '58', '', '0.042','1.82')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大寮區公所', '2018年6月', '41', '', '0.006','3.84')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大樹監測站', '2018年6月', '37', '', '0.019','0.85')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('仁武國中', '2018年6月', '48', '', '0.034','3.25')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('半屏山電信局', '2018年6月', '37', '22', '0.021','1.8')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('左營國小', '2018年6月', '22', '16', '0.034','1.47')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('永安工業區', '2018年6月', '45', '', '0.014','0.84')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('西子灣中山大學', '2018年6月', '35', '21', '0.013','0.8')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('岡山醫院', '2018年6月', '20', '', '0.014','1.39')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('林園工業區', '2018年6月', '48', '', '0.047','1.62')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('河濱國小', '2018年6月', '29', '17', '0.021','1.27')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('阿蓮區公所', '2018年6月', '33', '', '0.006','0.82')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('前鎮國小', '2018年6月', '79', '37', '0.021','1.19')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('莊敬國小', '2018年6月', '33', '23', '0.054','0.4')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('愛國國小', '2018年6月', '39', '23', '0.034','2.05')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('楠梓區清潔隊', '2018年6月', '43', '21', '0.021','0.79')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('路竹地政事務所', '2018年6月', '47', '', '0.012','0.86')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('鼓山圖書分館', '2018年6月', '27', '16', '0.034','0.82')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('衛生局中正辦公室', '2018年6月', '29', '17', '0.05','0.05')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('環保局環境檢驗科', '2018年6月', '38', '21', '0.02','0.65')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大社工業區', '2018年7月', '67', '', '0.013','2.17')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大寮區公所', '2018年7月', '44', '', '0.013','0.65')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('仁武國中', '2018年7月', '56', '', '0.02','3.45')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('半屏山電信局', '2018年7月', '32', '18', '0.022','1.65')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('左營國小', '2018年7月', '37', '16', '0.022','1.23')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('永安工業區', '2018年7月', '56', '', '0.086','2.87')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('西子灣中山大學', '2018年7月', '41', '20', '0.013','1.19')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('岡山醫院', '2018年7月', '17', '', '0.006','0.89')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('林園工業區', '2018年7月', '51', '', '0.028','1.48')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('河濱國小', '2018年7月', '42', '22', '0.028','1.24')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('阿蓮區公所', '2018年7月', '46', '', '0.02','1.36')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('前鎮國小', '2018年7月', '78', '37', '0.021','1.51')

insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('莊敬國小', '2018年7月', '29', '20', '0.021','1.38')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('愛國國小', '2018年7月', '38', '19', '0.014','1.51')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('楠梓區清潔隊', '2018年7月', '52', '22', '0.014','0.88')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('路竹地政事務所', '2018年7月', '43', '', '0.013','1.79')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('鼓山圖書分館', '2018年7月', '37', '20', '0.022','1.47')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('衛生局中正辦公室', '2018年7月', '47', '19', '0.005','1.35')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('環保局環境檢驗科', '2018年7月', '37', '18', '0.04','0.88')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大社工業區', '2018年8月', '26', '', '0.018','2.53')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大寮區公所', '2018年8月', '14', '', '0.01','1.22')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('仁武國中', '2018年8月', '19', '', '-0.009','4.52')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('半屏山電信局', '2018年8月', '30', '16', '0.051','2.61')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('左營國小', '2018年8月', '22', '14', '0.004','1.23')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('永安工業區', '2018年8月', '23', '', '0.011','2.22')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('西子灣中山大學', '2018年8月', '28', '13', '0.018','3.14')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('岡山醫院', '2018年8月', '32', '', '0.011','2.02')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('林園工業區', '2018年8月', '25', '', '0.004','2.76')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('河濱國小', '2018年8月', '22', '11', '0.018','2.25')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('阿蓮區公所', '2018年8月', '18', '', '0.017','1.64')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('前鎮國小', '2018年8月', '43', '19', '0.011','2.62')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('莊敬國小', '2018年8月', '21', '18', '0.018','1.86')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('愛國國小', '2018年8月', '24', '12', '0.025','2.09')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('楠梓區清潔隊', '2018年8月', '21', '12', '0.019','3.15')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('路竹地政事務所', '2018年8月', '18', '', '0.017','1.68')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('鼓山圖書分館', '2018年8月', '18', '11', '-0.016','2.71')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('衛生局中正辦公室', '2018年8月', '24', '13', '0.004','1.31')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('環保局環境檢驗科', '2018年8月', '26', '13', '0.017','2.4')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大社工業區', '2018年9月', '68', '', '0.034','3.6')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大寮區公所', '2018年9月', '31', '', '0.043','2.31')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('仁武國中', '2018年9月', '46', '', '0.006','3.38')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('半屏山電信局', '2018年9月', '26', '15', '0.013','2.31')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('左營國小', '2018年9月', '32', '22', '0.02','1.99')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('永安工業區', '2018年9月', '46', '', '0.013','4.28')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('西子灣中山大學', '2018年9月', '24', '12', '0.013','2.34')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('岡山醫院', '2018年9月', '64', '', '0.02','3.15')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('林園工業區', '2018年9月', '53', '', '0.048','1.41')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('河濱國小', '2018年9月', '27', '16', '0.006','2.46')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('阿蓮區公所', '2018年9月', '31', '', '0.013','0.83')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('前鎮國小', '2018年9月', '70', '32', '0.04','4.23')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('莊敬國小', '2018年9月', '22', '17', '0.015','2.49')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('愛國國小', '2018年9月', '31', '16', '0.02','2.74')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('楠梓區清潔隊', '2018年9月', '43', '20', '0.021','2.89')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('路竹地政事務所', '2018年9月', '46', '', '0.02','2.87')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('鼓山圖書分館', '2018年9月', '19', '12', '0.006','1.25')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('衛生局中正辦公室', '2018年9月', '25', '11', '0.005','2.6')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('環保局環境檢驗科', '2018年9月', '30', '13', '0.006','2.87')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大社工業區', '2018年10月', '101', '', '0.05','2.85')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大寮區公所', '2018年10月', '79', '', '0.041','2.13')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('仁武國中', '2018年10月', '91', '', '0.042','1.89')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('半屏山電信局', '2018年10月', '130', '68', '0.073','4.22')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('左營國小', '2018年10月', '89', '51', '0.024','2.15')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('永安工業區', '2018年10月', '101', '', '0.072','2.6')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('西子灣中山大學', '2018年10月', '103', '51', '0.051','1.89')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('岡山醫院', '2018年10月', '104', '', '0.074','2.54')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('林園工業區', '2018年10月', '86', '', '0.054','2.28')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('河濱國小', '2018年10月', '100', '60', '0.058','2.3')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('阿蓮區公所', '2018年10月', '74', '', '0.047','1.45')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('前鎮國小', '2018年10月', '110', '62', '0.07','2.98')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('莊敬國小', '2018年10月', '98', '69', '0.076','1.92')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('愛國國小', '2018年10月', '100', '47', '0.049','2.44')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('楠梓區清潔隊', '2018年10月', '100', '35', '0.016','1.48')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('路竹地政事務所', '2018年10月', '99', '', '0.05','2.25')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('鼓山圖書分館', '2018年10月', '91', '52', '0.078','2.36')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('衛生局中正辦公室', '2018年10月', '101', '51', '0.061','1.71')

insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('環保局環境檢驗科', '2018年10月', '104', '51', '0.071','1.97')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大社工業區', '2018年11月', '103', '', '0.029','2.78')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大寮區公所', '2018年11月', '98', '', '0.016','1.3')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('仁武國中', '2018年11月', '115', '', '0.1','2.88')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('半屏山電信局', '2018年11月', '104', '53', '0.036','3.35')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('左營國小', '2018年11月', '65', '38', '0.035','1.79')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('永安工業區', '2018年11月', '93', '', '0.04','2.58')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('西子灣中山大學', '2018年11月', '77', '35', '0.02','2.17')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('岡山醫院', '2018年11月', '106', '', '0.016','4.39')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('林園工業區', '2018年11月', '98', '', '0.023','2.26')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('河濱國小', '2018年11月', '84', '42', '0.022','1.48')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('阿蓮區公所', '2018年11月', '80', '', '0.015','2.5')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('前鎮國小', '2018年11月', '112', '58', '0.034','3.18')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('莊敬國小', '2018年11月', '77', '52', '0.03','1.72')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('勞工博物館', '2018年11月', '77', '36', '0.042','1.19')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('愛國國小', '2018年11月', '110', '44', '0.023','2.13')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('楠梓區清潔隊', '2018年11月', '103', '40', '0.016','2.09')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('路竹地政事務所', '2018年11月', '89', '', '0.027','1.7')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('鼓山圖書分館', '2018年11月', '66', '38', '0.041','1.44')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('環保局環境檢驗科', '2018年11月', '78', '36', '0.028','1.29')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大社工業區', '2018年12月', '147', '', '0.032','2.58')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('大寮區公所', '2018年12月', '124', '', '0.012','2.36')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('仁武國中', '2018年12月', '134', '', '0.018','2.67')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('半屏山電信局', '2018年12月', '119', '69', '0.044','4.82')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('左營國小', '2018年12月', '90', '52', '0.019','2.18')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('永安工業區', '2018年12月', '111', '', '0.018','2.68')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('西子灣中山大學', '2018年12月', '87', '48', '0.011','1.77')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('岡山醫院', '2018年12月', '121', '', '0.011','4.66')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('林園工業區', '2018年12月', '143', '', '0.039','2.72')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('河濱國小', '2018年12月', '97', '57', '0.005','1.53')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('阿蓮區公所', '2018年12月', '102', '', '0.011','2.3')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('前鎮國小', '2018年12月', '111', '68', '0.043','2.38')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('莊敬國小', '2018年12月', '110', '83', '0.031','1.84')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('愛國國小', '2018年12月', '100', '49', '0.03','2.09')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('楠梓區清潔隊', '2018年12月', '84', '52', '0.001','2.49')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('路竹地政事務所', '2018年12月', '112', '', '0.012','2.77')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('鼓山圖書分館', '2018年12月', '80', '49', '0.018','1.37')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('衛生局中正辦公室', '2018年12月', '93', '46', '0.012','1.95')
insert or replace into Frank_khtsp_0903 (sid, dtime, tsp, pm10, lead, dust) values('環保局環境檢驗科', '2018年12月', '97', '50', '0.03','2.07')

In [6]:
# 找出某個站的資料: where
sid = '左營國小'
sql_cmd_str = "select * from %s where sid='%s'" %(table_name, sid)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('左營國小', '2018年10月', 89.0, 51.0, 0.024, 2.15), ('左營國小', '2018年11月', 65.0, 38.0, 0.035, 1.79), ('左營國小', '2018年12月', 90.0, 52.0, 0.019, 2.18), ('左營國小', '2018年1月', 98.0, 64.0, 0.006, 1.13), ('左營國小', '2018年2月', 59.0, 32.0, 0.017, 1.5), ('左營國小', '2018年3月', 54.0, 36.0, 0.068, 1.55), ('左營國小', '2018年4月', 61.0, 33.0, 0.028, 1.48), ('左營國小', '2018年5月', 49.0, 38.0, 0.047, 4.69), ('左營國小', '2018年6月', 22.0, 16.0, 0.034, 1.47), ('左營國小', '2018年7月', 37.0, 16.0, 0.022, 1.23), ('左營國小', '2018年8月', 22.0, 14.0, 0.004, 1.23), ('左營國小', '2018年9月', 32.0, 22.0, 0.02, 1.99)]

In [7]:
# 找出某個站的資料, 並排序: where, order
sid = '仁武國中'
sql_cmd_str = "select * from %s where sid='%s' order by dtime DESC" %(table_name, sid)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('仁武國中', '2018年9月', 46.0, '', 0.006, 3.38), ('仁武國中', '2018年8月', 19.0, '', -0.009, 4.52), ('仁武國中', '2018年7月', 56.0, '', 0.02, 3.45), ('仁武國中', '2018年6月', 48.0, '', 0.034, 3.25), ('仁武國中', '2018年5月', 44.0, '', 0.058, 1.83), ('仁武國中', '2018年4月', 78.0, '', 0.035, 3.15), ('仁武國中', '2018年3月', 108.0, '', 0.052, 2.63), ('仁武國中', '2018年2月', 86.0, '', 0.033, 3.6), ('仁武國中', '2018年1月', 79.0, '', 0.058, 2.68), ('仁武國中', '2018年12月', 134.0, '', 0.018, 2.67), ('仁武國中', '2018年11月', 115.0, '', 0.1, 2.88), ('仁武國中', '2018年10月', 91.0, '', 0.042, 1.89)]

In [8]:
# 找出某個站的資料, 並排序: where, order
sid = '左營國小'
sql_cmd_str = "select * from %s where sid='%s' order by dtime ASC" %(table_name, sid)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('左營國小', '2018年10月', 89.0, 51.0, 0.024, 2.15), ('左營國小', '2018年11月', 65.0, 38.0, 0.035, 1.79), ('左營國小', '2018年12月', 90.0, 52.0, 0.019, 2.18), ('左營國小', '2018年1月', 98.0, 64.0, 0.006, 1.13), ('左營國小', '2018年2月', 59.0, 32.0, 0.017, 1.5), ('左營國小', '2018年3月', 54.0, 36.0, 0.068, 1.55), ('左營國小', '2018年4月', 61.0, 33.0, 0.028, 1.48), ('左營國小', '2018年5月', 49.0, 38.0, 0.047, 4.69), ('左營國小', '2018年6月', 22.0, 16.0, 0.034, 1.47), ('左營國小', '2018年7月', 37.0, 16.0, 0.022, 1.23), ('左營國小', '2018年8月', 22.0, 14.0, 0.004, 1.23), ('左營國小', '2018年9月', 32.0, 22.0, 0.02, 1.99)]

In [9]:
#排序出了問題
# 先把資料都刪掉: DELETE FROM table_name
sql_cmd_str = "DELETE FROM %s" %(table_name)
resultProxy=my_db.execute(sql_cmd_str)

In [10]:
# 確認資料
sql_cmd_str = "select * from %s" %(table_name)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
data

[]

In [12]:
# 做upsert操作: 試著改時間格式
import datetime
import random

for item in data_list[1:]:
    sid = item[0]#['Name']
    dtime = item[1]#['Date']
    dtime = dtime.replace('月', '')
    dtime_tmp = dtime.split('年')
    dtime = '%s-%02d' %(dtime_tmp[0], int(dtime_tmp[1]))
    tsp = item[2]#['TSP']
    if tsp=='':
        tsp = 'NULL'
    pm10 = item[3]#['PM10']
    if pm10=='':
        pm10 = 'NULL'
    lead = item[7]#['Lead']
    if lead=='':
        lead = 'NULL'
    dust = item[-1] #dust
    sql_cmd_str = "insert or replace into %s (sid, dtime, tsp, pm10, lead,dust) values('%s','%s', '%s', %s, %s, %s)" %(
        table_name, sid, dtime, tsp, pm10, lead,dust)
    #sql_cmd_str = sql_cmd_str + (" ON DUPLICATE KEY UPDATE tsp=%s, pm10=%s, lead=%s" %(tsp, pm10, lead))
    resultProxy=my_db.execute(sql_cmd_str)
    #print(sql_cmd_str)

In [13]:
# 這樣的時間格式未來如何轉換
dt1 = datetime.datetime.strptime('2018-03','%Y-%m') #把時間字串轉為datetime物件
dt1

datetime.datetime(2018, 3, 1, 0, 0)

In [14]:
#再來取資料，並做排序
# 找出某個站的資料, 並排序: where, order
sid = '左營國小'
sql_cmd_str = "select * from %s where sid='%s' order by dtime ASC" %(table_name, sid)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('左營國小', '2018-01', 98.0, 64.0, 0.006, 1.13), ('左營國小', '2018-02', 59.0, 32.0, 0.017, 1.5), ('左營國小', '2018-03', 54.0, 36.0, 0.068, 1.55), ('左營國小', '2018-04', 61.0, 33.0, 0.028, 1.48), ('左營國小', '2018-05', 49.0, 38.0, 0.047, 4.69), ('左營國小', '2018-06', 22.0, 16.0, 0.034, 1.47), ('左營國小', '2018-07', 37.0, 16.0, 0.022, 1.23), ('左營國小', '2018-08', 22.0, 14.0, 0.004, 1.23), ('左營國小', '2018-09', 32.0, 22.0, 0.02, 1.99), ('左營國小', '2018-10', 89.0, 51.0, 0.024, 2.15), ('左營國小', '2018-11', 65.0, 38.0, 0.035, 1.79), ('左營國小', '2018-12', 90.0, 52.0, 0.019, 2.18)]

In [15]:
# 找出某個站的資料, 並排序: where, order
sid = '大寮區公所'
sql_cmd_str = "select * from %s where sid='%s' order by dtime ASC" %(table_name, sid)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('大寮區公所', '2018-01', 79.0, None, 0.042, 1.54), ('大寮區公所', '2018-02', 91.0, None, 0.018, 2.01), ('大寮區公所', '2018-03', 92.0, None, 0.046, 3.76), ('大寮區公所', '2018-04', 75.0, None, 0.062, 2.28), ('大寮區公所', '2018-05', 43.0, None, 0.021, 2.93), ('大寮區公所', '2018-06', 41.0, None, 0.006, 3.84), ('大寮區公所', '2018-07', 44.0, None, 0.013, 0.65), ('大寮區公所', '2018-08', 14.0, None, 0.01, 1.22), ('大寮區公所', '2018-09', 31.0, None, 0.043, 2.31), ('大寮區公所', '2018-10', 79.0, None, 0.041, 2.13), ('大寮區公所', '2018-11', 98.0, None, 0.016, 1.3), ('大寮區公所', '2018-12', 124.0, None, 0.012, 2.36)]