In [ ]:
# Sklearn電力預測
# ref: https://developer.aliyun.com/article/412988
# ref: https://www.cnblogs.com/pinard/p/6016029.html?spm=a2c6h.12873639.article-detail.9.4cba721fOHnCCO
# 數據下載連結: https://archive.ics.uci.edu/ml/machine-learning-databases/00294/

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import datasets, linear_model

data = pd.read_excel('./CCPP/Folds5x2_pp.xlsx')

In [ ]:
# 資料說明:
# UCI的說明: http://archive.ics.uci.edu/ml/datasets/Combined+Cycle+Power+Plant
# Temperature (T), Ambient Pressure (AP), Relative Humidity (RH) and Exhaust Vacuum (V) to predict the net hourly electrical energy output (EP) of the plant.
# Attribute Information:
# Features consist of hourly average ambient variables

# Temperature (T) in the range 1.81°C and 37.11°C,
# Ambient Pressure (AP) in the range 992.89-1033.30 milibar,
# Relative Humidity (RH) in the range 25.56% to 100.16%
# Exhaust Vacuum (V) in teh range 25.36-81.56 cm Hg
# Net hourly electrical energy output (EP) 420.26-495.76 MW
# The averages are taken from various sensors located around the plant that record the ambient variables every second. The variables are given without normalization.

In [4]:
data.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [1]:
data.tail()

NameError: name 'data' is not defined

In [5]:
data.shape

(9568, 5)

In [6]:
X = data[['AT', 'V', 'AP', 'RH']]
X.head()

      AT      V       AP     RH
0  14.96  41.76  1024.07  73.17
1  25.18  62.96  1020.04  59.08
2   5.11  39.40  1012.16  92.14
3  20.86  57.32  1010.24  76.64
4  10.82  37.50  1009.23  96.62

In [11]:
y = data[['PE']]
y.head()

       PE
0  463.26
1  444.37
2  488.56
3  446.48
4  473.90

In [19]:
#整理訓練資料 & 測試資料
from sklearn.model_selection import train_test_split
x_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

2392/(7176+2392) # --> 3:1

0.25

In [20]:
#載入模型 & 訓練
#1. 載入模型
from sklearn.linear_model import LinearRegression
#2. 建立模型
regr = LinearRegression()
#3. 訓練模型
regr.fit(x_train, y_train)
#4. 使用模型來做預測
regr.predict([[1.3]])

C:\Users\vg8rw\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

ValueError: X has 1 features, but LinearRegression is expecting 4 features as input.

In [16]:
print(linreg.intercept_)
print(linreg.coef_)

NameError: name 'linreg' is not defined