In [2]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pymysql
conn=pymysql.connect(host='localhost',
                    port=3306,
                    user='root',
                    charset='utf8',
                    password='123')
mycursor=conn.cursor()
mycursor.execute("CREATE DATABASE mydb123")

1

In [14]:
import pymysql
conn=pymysql.connect(host='localhost',
                    port=3306,
                    user='root',
                    charset='utf8',
                    password='123',
                    database='mydb123')
mycursor=conn.cursor()

sql="""
CREATE TABLE IF NOT EXISTS students(
ID int NOT NULL AUTO_INCREMENT PRIMARY KEY,
Name varchar(10),
Area varchar(10)
)"""

mycursor.execute(sql)

0

In [17]:
import pymysql
conn=pymysql.connect(host='localhost',
                    port=3306,
                    user='root',
                    charset='utf8',
                    password='123',
                    database='mydb123')
mycursor=conn.cursor()

sql="""
INSERT INTO students(Name,Area) VALUES(%s,%s)
"""

val=("Frank","Taipei")

mycursor.execute(sql,val)
conn.commit()
print(f'有{mycursor.rowcount}筆資料')

有1筆資料

In [18]:
import pymysql
conn=pymysql.connect(host='localhost',
                    port=3306,
                    user='root',
                    charset='utf8',
                    password='123',
                    database='mydb123')
mycursor=conn.cursor()
sql="""
INSERT INTO students(Name,Area) VALUES(%s,%s)
"""

val=[("Frank","Taipei"),
     ("Amy","Toyky"),
     ("John","Linkou"),
     ("Peter","Taipei"),
     ("Sam","Keelung")
    ]
mycursor.executemany(sql,val)
conn.commit()
print(f'有{mycursor.rowcount}筆資料')

有5筆資料

In [30]:
import pymysql
conn=pymysql.connect(host='localhost',
                    port=3306,
                    user='root',
                    charset='utf8',
                    password='123',
                    database='mydb123')
mycursor=conn.cursor()

sql="""
SELECT * FROM students
"""
mycursor.execute(sql)
result=mycursor.fetchall()

for r in result:
    print(r)

mycursor.execute(sql)
results=mycursor.fetchone()
print(results)

(1, 'Frank', 'Taipei')
(2, 'Frank', 'Taipei')
(3, 'Amy', 'Toyky')
(4, 'John', 'Linkou')
(5, 'Peter', 'Taipei')
(6, 'Sam', 'Keelung')
(1, 'Frank', 'Taipei')

In [31]:
import pymysql
conn=pymysql.connect(host='localhost',
                    port=3306,
                    user='root',
                    charset='utf8',
                    password='123',
                    database='mydb123')
mycursor=conn.cursor()

sql="""
SELECT * FROM students WHERE Area='Taipei'
"""
mycursor.execute(sql)
result=mycursor.fetchall()

for r in result:
    print(r)

(1, 'Frank', 'Taipei')
(2, 'Frank', 'Taipei')
(5, 'Peter', 'Taipei')

In [33]:
import pymysql
conn=pymysql.connect(host='localhost',
                    port=3306,
                    user='root',
                    charset='utf8',
                    password='123',
                    database='mydb123')
mycursor=conn.cursor()

sql=
"""
UPDATE students SET Area='Taiwan' WHERE Area='Taipei'
"""

mycursor.execute(sql)
conn.commit()
mycursor.execute("SELECT * FROM students")
result=mycursor.fetchall()
for r in result:
    print(r)

(1, 'Frank', 'Taiwan')
(2, 'Frank', 'Taiwan')
(3, 'Amy', 'Toyky')
(4, 'John', 'Linkou')
(5, 'Peter', 'Taiwan')
(6, 'Sam', 'Keelung')

In [42]:
import pymysql
conn=pymysql.connect(host='localhost',
                    port=3306,
                    user='root',
                    charset='utf8',
                    password='123',
                    database='mydb123')
mycursor=conn.cursor()


mycursor.execute("DELETE FROM students WHERE id='2'")
conn.commit()
mycursor.execute("SELECT * FROM students")
result=mycursor.fetchall()
for r in result:
    print(r)

(3, 'Amy', 'Toyky')
(4, 'John', 'Linkou')
(5, 'Peter', 'Taiwan')
(6, 'Sam', 'Keelung')

In [43]:
import pymysql
conn=pymysql.connect(host='localhost',
                    port=3306,
                    user='root',
                    charset='utf8',
                    password='123',
                    database='mydb123')
mycursor=conn.cursor()

sql="""
SELECT * FROM students LIMIT 3
"""

mycursor.execute(sql)

result=mycursor.fetchall()
for r in result:
    print(r)

(3, 'Amy', 'Toyky')
(4, 'John', 'Linkou')
(5, 'Peter', 'Taiwan')

In [44]:
import pymysql
conn=pymysql.connect(host='localhost',
                    port=3306,
                    user='root',
                    charset='utf8',
                    password='123',
                    database='mydb123')
mycursor=conn.cursor()

sql="""
DROP TABLE students
"""
mycursor.execute(sql)

0